<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a routerLink="/" style="cursor: pointer;" class="navbar-brand">Recipe Book</a>
		</div>
		<div class="navbar-default" style="cursor: pointer;">
			<ul class="nav navbar-nav">
				<li style="cursor: pointer;" routerLinkActive="active">
					<a routerLink="/recipes">Recipes</a>
				</li>
				<li style="cursor: pointer;" routerLinkActive="active">
					<a routerLink="/shopping-list">Shopping List</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<ng-template [ngIf]="!authService.isAuthenticated()">
					<li><a routerLink="/signup">Sign Up</a></li>
					<li><a routerLink="/signin">Login</a></li>
				</ng-template>	
				
				<li><a
					style="cursor: pointer;"
					(click)="onLogout()"
					*ngIf="authService.isAuthenticated()">Logout</a></li>
		  
				
				<li class="dropdown" appDropdown *ngIf="authService.isAuthenticated()">
					<a class="dropdown-toggle" role="botton"> Manage <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li style="cursor: pointer;">
							<a (click)="onSaveRecipes()">Save Data</a>
						</li>
						<li style="cursor: pointer;">
							<a (click)="onRetrieveRecipes()">Fetch Data</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
